<div class="container-food-list">
  <h1>Food Court</h1>
  <div class="todays-special">
    <h2 *ngIf="displayList">
      Todays Food List
    </h2>
    <ul>
      <li *ngFor="let item of todaysFoodList">{{ item.name }}</li>
    </ul>
    <h3 *ngIf="displayList">
      <strong>Total Calories:</strong> {{ totalCalories }}
    </h3>
  </div>
  <div>
    <button type="button" class="btn-add-item" (click)="displayForm()">Add New Item</button>
  </div>

  <div class="form-new-item" *ngIf="display">
    <input class="input-food" type="text" placeholder="Name" name="name" [(ngModel)]="newFood.name">
    <input class="input-food" type="number" placeholder="Calories" name="calories" [(ngModel)]="newFood.calories">
    <input class="input-food" type="text" placeholder="Image Url" name="image" [(ngModel)]="newFood.image">
    <button class="btn-add-item" type="button" (click)="addItem()">Save</button>
  </div>

  <input class="input-food" placeholder="Search for item..." type="text" [(ngModel)]="pattern">

  <div class="food-list">
    <div class="food-list-items" *ngFor="let item of foodList | search:'name':pattern">
      <div>{{item.name}}</div>
      <div>{{item.calories}} kcal</div>
      <div>
        <img class="food-item" [src]="item.image" alt="{{item.name}}">
      </div>
      <div>
        <button type="button" class="btn-add-item" (click)="todaysFood(item)">Add to Today Specials</button>
      </div>
    </div>
  </div>
</div>
